/* 
This CSS file is made available under a Creative Commons Attribution 4.0 International License. 
Copyright Hochschule der Medien (HdM) / Stuttgart Media University, 2017.
*/
/* high contrast: lime on black */
@import url("gtx_hdm12ax_layout.css");

body {
  color: lime;
  background-color: black;
}
a:link, a:visited, a:hover, a:focus, a:active {
  color: lime;
  background-color: transparent;
}
nav ul li a:link, nav ul li a:visited, nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
  color: lime;
  background-color: transparent;
}
a.skiplink {
  background: transparent;
  color: transparent;
}
a.skiplink:hover, a.skiplink:focus, a.skiplink:active {
  background: transparent;
  color: lime;
}
footer {
  border-top-color: transparent;
}
footer p#licence {
  border-top: 2px solid lime;
  padding-top: 5px;
}
